* {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.kolomkiri {
    background-color: #1B1464;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

.kolomkiri h2 p {
    font-weight: 650;
    margin-bottom: 2px;
}

.container {
    display: flex;
    margin-top: 25px;
    height: 90vh;
    width: 75%;
}

.kolomkanan {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7f8fa6;
}

.login-box {
    width: 350px;
}

.btn-login {
    background-color: #1B1464;
    color: white;
    width: 100%;
}

.btn-login:hover {
    background-color: #006266;
    color: white;
}